In [2]:
import pandas as pd
import datetime

In [3]:
cd desktop/ibmhc/project/data

C:\Users\91728\desktop\ibmhc\project\data

In [34]:
cols = ['phase', 'start', 'end', 'tot', 'pos', 'neg', 'neut', 'avg', 'date_mpos', 'date_mneg']
df_phase = pd.DataFrame(columns = cols, index=None)

df_phase.to_csv("phase_wise.csv", index=None)

In [93]:
df = pd.read_csv('day_wise.csv', index_col=False)

In [94]:
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values(by='date')
df

          date      tot     pos     neg     neut       avg       p/n
0   2020-03-21  1233340  285733  195351   752256  0.027722  1.462665
1   2020-03-22  1782157  429789  273338  1079030  0.043513  1.572372
2   2020-03-23  1771295  335903  236651  1198741  0.020968  1.419402
3   2020-03-24  1479651  287335  196361   995955  0.025657  1.463300
4   2020-03-25  1272592  264651  176929   831012  0.032868  1.495803
..         ...      ...     ...     ...      ...       ...       ...
108 2020-07-08  4032945  862305  479956  2690684  0.040851  1.796633
109 2020-07-09  3912560  824698  450517  2637345  0.038665  1.830559
110 2020-07-10  4024227  864726  466334  2693167  0.044398  1.854306
111 2020-07-11  3746316  875810  403853  2466653  0.052422  2.168636
112 2020-07-12  3902393  923767  396257  2582369  0.056849  2.331232

[113 rows x 7 columns]

In [95]:
df

          date      tot     pos     neg     neut       avg       p/n
0   2020-03-21  1233340  285733  195351   752256  0.027722  1.462665
1   2020-03-22  1782157  429789  273338  1079030  0.043513  1.572372
2   2020-03-23  1771295  335903  236651  1198741  0.020968  1.419402
3   2020-03-24  1479651  287335  196361   995955  0.025657  1.463300
4   2020-03-25  1272592  264651  176929   831012  0.032868  1.495803
..         ...      ...     ...     ...      ...       ...       ...
108 2020-07-08  4032945  862305  479956  2690684  0.040851  1.796633
109 2020-07-09  3912560  824698  450517  2637345  0.038665  1.830559
110 2020-07-10  4024227  864726  466334  2693167  0.044398  1.854306
111 2020-07-11  3746316  875810  403853  2466653  0.052422  2.168636
112 2020-07-12  3902393  923767  396257  2582369  0.056849  2.331232

[113 rows x 7 columns]

In [96]:
start = '07-01-2020'
end = '07-31-2020'

In [97]:
mask = (df['date'] >= start) & (df['date'] <= end)

In [98]:
df1 = df.loc[mask]
df1

          date      tot      pos     neg     neut       avg       p/n
101 2020-07-01  4365171   990369  510011  2864791  0.048830  1.941858
102 2020-07-02  3563659   821893  398146  2343620  0.051560  2.064301
103 2020-07-03  3446100   973787  350173  2122140  0.078475  2.780874
104 2020-07-04  4076176  1009365  550260  2516551  0.047200  1.834342
105 2020-07-05  3827904   755521  452998  2619385  0.031503  1.667824
106 2020-07-06  3991881   794749  541471  2655661  0.020581  1.467759
107 2020-07-07  4104245   874547  463053  2766645  0.040447  1.888654
108 2020-07-08  4032945   862305  479956  2690684  0.040851  1.796633
109 2020-07-09  3912560   824698  450517  2637345  0.038665  1.830559
110 2020-07-10  4024227   864726  466334  2693167  0.044398  1.854306
111 2020-07-11  3746316   875810  403853  2466653  0.052422  2.168636
112 2020-07-12  3902393   923767  396257  2582369  0.056849  2.331232

In [99]:
df1.sort_values(by='date')

          date      tot      pos     neg     neut       avg       p/n
101 2020-07-01  4365171   990369  510011  2864791  0.048830  1.941858
102 2020-07-02  3563659   821893  398146  2343620  0.051560  2.064301
103 2020-07-03  3446100   973787  350173  2122140  0.078475  2.780874
104 2020-07-04  4076176  1009365  550260  2516551  0.047200  1.834342
105 2020-07-05  3827904   755521  452998  2619385  0.031503  1.667824
106 2020-07-06  3991881   794749  541471  2655661  0.020581  1.467759
107 2020-07-07  4104245   874547  463053  2766645  0.040447  1.888654
108 2020-07-08  4032945   862305  479956  2690684  0.040851  1.796633
109 2020-07-09  3912560   824698  450517  2637345  0.038665  1.830559
110 2020-07-10  4024227   864726  466334  2693167  0.044398  1.854306
111 2020-07-11  3746316   875810  403853  2466653  0.052422  2.168636
112 2020-07-12  3902393   923767  396257  2582369  0.056849  2.331232

In [100]:
totp = int(df1['tot'].sum())
posp = int(df1['pos'].sum())
negp = int(df1['neg'].sum())
neutp = int(df1['neut'].sum())
avgp = df1['avg'].mean()


maxpos = df1.nlargest(1, 'p/n').iloc[0]['date'].date()
maxneg = df1.nsmallest(1, 'p/n').iloc[0]['date'].date()

In [103]:
df_phase = pd.read_csv('phase_wise.csv')

In [104]:
temp = {'phase': 'U2',
        'start': start,
        'end': end,
        'tot': totp,
       'avg': avgp,
       'pos': posp,
       'neg': negp,
       'neut': neutp,
        'date_mpos': maxpos,
        'date_mneg': maxneg
        }
df_phase = df_phase.append(temp, ignore_index=True)
df_phase

,phase,start,end,tot,pos,neg,neut,avg,date_mpos,date_mneg
0,P1,03-25-2020,04-14-2020,15025057,3390577,1787612,9846868,0.048372,2020-04-08,2020-04-06
1,P2,04-15-2020,05-03-2020,37505247,8930045,3837475,24737727,0.056249,2020-05-01,2020-04-15
2,P3,05-04-2020,05-17-2020,33598320,7892520,3535360,22170440,0.057267,2020-05-08,2020-05-06
3,P4,05-18-2020,05-31-2020,49286020,11305662,5055479,32924879,0.056056,2020-05-26,2020-05-31
4,U1,06-01-2020,06-30-2020,103513321,23039802,12185785,68287734,0.042220,2020-06-08,2020-06-14
5,U2,07-01-2020,07-31-2020,46993577,10571537,5463029,30959011,0.045982,2020-07-03,2020-07-06

In [105]:
df_phase.to_csv('phase_wise.csv', index=None)

In [106]:
df_phase = pd.read_csv('phase_wise.csv')
df_phase

,phase,start,end,tot,pos,neg,neut,avg,date_mpos,date_mneg
0,P1,03-25-2020,04-14-2020,15025057,3390577,1787612,9846868,0.048372,2020-04-08,2020-04-06
1,P2,04-15-2020,05-03-2020,37505247,8930045,3837475,24737727,0.056249,2020-05-01,2020-04-15
2,P3,05-04-2020,05-17-2020,33598320,7892520,3535360,22170440,0.057267,2020-05-08,2020-05-06
3,P4,05-18-2020,05-31-2020,49286020,11305662,5055479,32924879,0.056056,2020-05-26,2020-05-31
4,U1,06-01-2020,06-30-2020,103513321,23039802,12185785,68287734,0.042220,2020-06-08,2020-06-14
5,U2,07-01-2020,07-31-2020,46993577,10571537,5463029,30959011,0.045982,2020-07-03,2020-07-06

In [107]:
df_phase['p/n'] = df_phase['pos']/df_phase['neg']
df_phase

,phase,start,end,tot,pos,neg,neut,avg,date_mpos,date_mneg,p/n
0,P1,03-25-2020,04-14-2020,15025057,3390577,1787612,9846868,0.048372,2020-04-08,2020-04-06,1.896707
1,P2,04-15-2020,05-03-2020,37505247,8930045,3837475,24737727,0.056249,2020-05-01,2020-04-15,2.327063
2,P3,05-04-2020,05-17-2020,33598320,7892520,3535360,22170440,0.057267,2020-05-08,2020-05-06,2.232452
3,P4,05-18-2020,05-31-2020,49286020,11305662,5055479,32924879,0.056056,2020-05-26,2020-05-31,2.236319
4,U1,06-01-2020,06-30-2020,103513321,23039802,12185785,68287734,0.042220,2020-06-08,2020-06-14,1.890711
5,U2,07-01-2020,07-31-2020,46993577,10571537,5463029,30959011,0.045982,2020-07-03,2020-07-06,1.935105

In [108]:
df_phase.to_csv('phase_wise.csv', index=None)